ul {
    background-color: aqua;
    padding: 20px;

    height: 150px;
    display: flex;
    align-items: baseline;
}

li {
    background-color: bisque;
    padding: 10px;

    width: 100px;
    margin: 10px;
    text-align: center;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

li:first-child {
    padding: 10px;
}