ul {
    background-color: aqua;
    height: 140px;
    padding: 20px;

    display: flex;
    
}

li {
    background-color: bisque;
    padding: 10px;
    margin: 10px;
    text-align: center;
    list-style: none;
}